<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ExchangeSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <configProtectedData>
    <providers>
      <add useMachineProtection="true" name="DPAPIProtection" type="System.Configuration.DpapiProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
  <connectionStrings>
    <add name="Dynamics" connectionString="" />
  </connectionStrings>
  <appSettings>
    <!-- CRM Server and Field Details -->
    <add key="CRMServiceUrl" value="" />
    <add key="CRMOrganization" value="" />
    <add key="CRMAuthenticationProviderType" value="1" />
    <add key="CRMIntegratedAuthentication" value="0" />
    <add key="CRMUsername" value="" />
    <add key="CRMDomain" value="" />
    <add key="CRMRegion" value="" />
    <add key="ClientId" value="" />
    <add key="ClientSecret" value="" />
    <add key="UseCRMConnectionString" value="0" />
    <!-- Exchange Server Details -->
    <add key="ExchangeServerName" value="" />
    <add key="ExchangeServerVersion" value="" />
    <add key="DistributionGroupOU" value="" />
    <add key="ContactsOU" value="" />
    <add key="ExternalDomainName" value="" />
    <add key="ADUsername" value="" />
    <add key="ADDomain" value="" />
    <!-- Licensing, Locale and AutoSync Details -->
    <add key="Locale" value="en-US" />
    <add key="TimerInterval" value="3600" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <applicationSettings>
    <ExchangeSync.Properties.Settings>
      <setting name="CRMPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ADPassword" serializeAs="String">
        <value />
      </setting>
    </ExchangeSync.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
    </settings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
